<html>
    <head>
        <title>Choose Your Own Adventure</title>
    </head>
    <body>

    <h1>{{.Title}}</h1>

    <p> class="story"{{.Story}}</p>

    {{range .Options}}
        <div class="story-option">
            <a href="/{{.Chapter}}">{{.Text}}</a>
        </div>
    {{end}}
    </body>
</head>